<%= form_for(task) do |f| %>


  <% if message.errors.any? %>

  <div id="error_explanation">
    
  <ul>
  <li><%= message %></li>
  <% end %>
  </ul>
  </div>
  <% end %>
        
<% task.errors.full_tasks.each do |task| %>
  <%= f.label :content, 'メッセージ' %>
  <%= f.text_field :content %>
  
  <%= f.label :status, 'ステータス' %>
  <%= f.text_field :status %>

  <%= f.submit '投稿' %>
<% end %>